body{
    border-radius: 5px solid black;
    background-color: black;
}
h1{
    font-size: 60px;
    border: solid 2px rgb(75, 74, 74);
    color: rgb(214, 137, 43);
}
.navegador{
    border: solid rgb(253, 250, 250) 1px;
}


.contenedorNav{
background-color: rgb(255, 255, 255);
}

.contenedorMain{
background-color: bisque;
}

.contenedorFot{
background-color: rgb(255, 255, 255);
}